body {
    background: #e0ffff;
    font-family: Arial;
}
input {
    margin-top: 20px;
}
table {
    margin-top: 20px;
    background-color: #39cdcd;
    table-layout: auto;
    width: 50%;
    border: 2px double black;
    border-collapse: collapse;}

td {
    width: 50%;
    padding: 5px;
    border: 1px solid black;
}

h1 {
    text-align:center;
    font-size: 150%; }
